    <div>
        <%# <%= form.fields_for :emails do |email_form| %>
        <%= f.text_field :email_address, placeholder: "Email Address" %>
        <%= f.text_field :comment, placeholder: "Comments" %>
        <%# <% end %>
    </div>